.slickPrev,
.slickNext {
  position: absolute;
  /* top: -80px; */
  bottom: -40px;
  right: 40%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 4px;
  background: #149ddd;
  cursor: pointer;
  border: none;
}

.slickPrev {
  right: 55%;
  transform: translateX(-50%);
}

.hideArrow {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (max-width: 760px) {

  .slickNext,
  .slickPrev {
    top: -87px;
    right: 10px;
  }

  .slickPrev {
    right: 59px;
  }
}